# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

*.DS_Store

server/bin/
server/pkg/
tools/bin/
tools/pkg/
server/src/proto/
client/Assets/Scripts/proto/
bin/
obj/

*.meta
*.suo

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

