le# Binaries for programs and plugins
# *.exe
# *.dll
# *.so
# *.dylib

*.DS_Store
proto/merge.proto
server/bin/
server/pkg/
server/src/.idea/
tools/bin/
tools/pkg/
server/src/proto/
client/Assets/Scripts/proto/
client/ProjectSettings/
client/obj/
client/.vs/
client/Temp/
client/UnitTest/
client/Library/
client/Assets/Scripts/protobuf-net/bin*
client/Assets/Scripts/protobuf-net/obj*
client/Assets/Scripts/protobuf-net/Web*
client/Assets/Scripts/UnitTest*
client/Assets/Scripts/Source*
client/Assets/StreamingAssets/Android/AssetBundles/
*/Temp/
*.sln
*.csproj
main
bin/
obj/
*/bin/
*/obj/

*.suo
*.suo.*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

